@import "./reset.scss";
@import "./game.scss";

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: pink;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.error-message {
  color: lightcoral;
  white-space: pre-line;
  text-align: center;
}

.main {
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
